<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="clientesForm">
    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome" type="text"> </ion-input>
      <ion-text color="danger" *ngIf="nome.errors">
        <small *ngIf="nome.errors.required && (nome.dirty || nome.touched)">
          O campo nome é obrigatório
        </small>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF: </ion-label>
      <ion-input formControlName="cpf" type="text"> </ion-input>
      <ion-text color="danger" *ngIf="cpf.errors">
        <small *ngIf="cpf.errors.required && (cpf.dirty || cpf.touched)">
          O campo CPF é obrigatório
        </small>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de nascimento: </ion-label>
      <ion-datetime
        formControlName="dataNascimento"
        display-format="DD de MMMM de YYYY"
        min="1930-01-01"
        cancel-text="Cancelar"
        done-text="Selecionar"
        [monthNames]="meses"
        [monthShortNames]="mesesAbreviados"
      ></ion-datetime>
    </ion-item>
    <ion-list>
      <ion-radio-group name="genero" formControlName="genero">
        <ion-list-header>
          <ion-label>Gênero</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio slot="start" value="F"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="start" value="M"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Endereço: </ion-label>
      <ion-input formControlName="endereco" type="text"> </ion-input>
      <ion-text color="danger" *ngIf="endereco.errors">
        <small *ngIf="endereco.errors.required && (endereco.dirty || endereco.touched)">
          O campo ENDEREÇO é obrigatório
        </small>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Foto: </ion-label>
      <ion-input formControlName="foto" type="text"> </ion-input>
      <ion-text color="danger" *ngIf="foto.errors">
        <small *ngIf="foto.errors.required && (foto.dirty || foto.touched)">
          O campo FOTO é obrigatório
        </small>
      </ion-text>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="!clientesForm.valid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button [routerLink]="['/clientes']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
