<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Barbearia Zé Maneca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Bem-vindo ao gerenciador da Barbearia Zé Maneca </ion-card-title>
    </ion-card-header>
    <br />
    <ion-card-content>
      <b>Equipe:</b> Felipe Caetano e Matheus Mafioletti
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header [routerLink]="['/barbeiros']">
          <ion-card-title>
            <ion-icon
              name="person"
              class="ion-float-left ion-margin-end"
            ></ion-icon>
            Barbeiros
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header [routerLink]="['/clientes']">
          <ion-card-title>
            <ion-icon
              name="people"
              class="ion-float-left ion-margin-end"
            ></ion-icon>
            Clientes
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header [routerLink]="['/agendamentos']">
          <ion-card-title>
            <ion-icon
              name="id-card"
              class="ion-float-left ion-margin-end"
            ></ion-icon>
            Agendamentos
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
